// block size


$size-100 : 500px;
$size-200 : 200px;

// font-size

$font-size01: 12px;
$font-size02: 14px;
$font-size03: 36px;


// margin-size
$margin-size01:10px;

// color 

$primary-color :rgb(71, 71, 194);
$secodary-color :grey;
$action-color : green;